[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
cmds = ["cd app-web && npm install", "cd app-web && npx prisma generate", "cd app-web && npx prisma migrate deploy", "cd app-web && npm run build"]

[start]
cmd = "cd app-web && node_modules/.bin/next start -p $PORT"

[variables]
NODE_ENV = "production"
PORT = "3000"
