[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.build]
cmds = ["cd app-web && npm ci", "cd app-web && npx prisma generate", "cd app-web && npm run build"]

[start]
cmd = "cd app-web && npm run start"

[variables]
NODE_ENV = "production"
